force-app/main/default/flows/NewOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignTotalPrice</name>
        <label>assignTotalPrice</label>
        <locationX>1024</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>totalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.AppSelection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppetizerChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.AppPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.SSSelection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Soups_and_SaladsChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.SSPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SoupSaladPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.EntreeSelection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Main_EntreeChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.EntreePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntreePrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.DessertSelection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dessert_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSelections.DessertPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dessertPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Summary</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>none</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <constants>
        <name>noneApp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </constants>
    <decisions>
        <name>No_items_Selected</name>
        <label>No items Selected</label>
        <locationX>850</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>assignTotalPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>all_none</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppetizerChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Soups_and_SaladsChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Main_EntreeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dessert_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>none</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>select_an_item</targetReference>
            </connector>
            <label>all none</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>appChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Appetizers</stringValue>
            </value>
        </filters>
        <limit>4</limit>
        <object>Menu_Item__c</object>
        <outputAssignments>
            <assignToReference>appPrice</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DessertChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dessert</stringValue>
            </value>
        </filters>
        <limit>3</limit>
        <object>Menu_Item__c</object>
        <outputAssignments>
            <assignToReference>dessertPrice</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EntreeChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Entrees</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Menu_Item__c</object>
        <outputAssignments>
            <assignToReference>EntreePrice</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SoupSaladChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Soups and Salads</stringValue>
            </value>
        </filters>
        <limit>4</limit>
        <object>Menu_Item__c</object>
        <outputAssignments>
            <assignToReference>SoupSaladPrice</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>calculateTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!appPrice} + {!SoupSaladPrice} + {!EntreePrice} + {!dessertPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>NewOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1146</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>1274</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Order_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AppPrice__c</field>
            <value>
                <elementReference>orderSelections.AppPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppSelection__c</field>
            <value>
                <elementReference>orderSelections.AppSelection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DessertPrice__c</field>
            <value>
                <elementReference>orderSelections.DessertPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DessertSelection__c</field>
            <value>
                <elementReference>orderSelections.DessertSelection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntreePrice__c</field>
            <value>
                <elementReference>orderSelections.EntreePrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntreeSelection__c</field>
            <value>
                <elementReference>orderSelections.EntreeSelection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Contact_First_Name} {!Contact_Last_Name}&apos;s order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSPrice__c</field>
            <value>
                <elementReference>orderSelections.SSPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSSelection__c</field>
            <value>
                <elementReference>orderSelections.SSSelection__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Order</name>
        <label>New Order</label>
        <locationX>590</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_select_the_Items_that_you_would_like_to_order</targetReference>
        </connector>
        <fields>
            <name>Flow_Intro_Text</name>
            <fieldText>&lt;p&gt;Thank You for choosing Fortune King, to start we need some of your contact information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Confirmation</name>
        <label>Order Confirmation</label>
        <locationX>1274</locationX>
        <locationY>259</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>orderSubmitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Your order has been submitted!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Your order will be ready to pick up in 30 minutes.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You will receive an email confirmation shortly.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Thank you for choosing Fortune King!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Summary</name>
        <label>Order Summary</label>
        <locationX>1024</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Order_Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayName</name>
                    <fieldText>&lt;p&gt;Name:&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;{!Contact_First_Name} {!Contact_Last_Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayEmail</name>
                    <fieldText>&lt;p&gt;Email:&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;{!EmailAddress.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayPhone</name>
                    <fieldText>&lt;p&gt;Phone Number:&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;{!PhoneNumber.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Summary_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>appChoiceSummary</name>
                    <fieldText>&lt;p&gt;{!orderSelections.AppSelection__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>orderSelections.AppSelection__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AppPriceSummary</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!appPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>appPrice</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SoupSaladChoiceSummary</name>
                    <fieldText>&lt;p&gt;{!orderSelections.SSSelection__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>orderSelections.DessertSelection__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SoupSaladPriceSumamry</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!SoupSaladPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SoupSaladPrice</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EntreeChoiceSummary</name>
                    <fieldText>&lt;p&gt;{!orderSelections.EntreeSelection__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>orderSelections.EntreeSelection__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EntreePriceSummary</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!EntreePrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EntreePrice</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DessertChoiceSummary</name>
                    <fieldText>&lt;p&gt;{!orderSelections.DessertSelection__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>orderSelections.DessertSelection__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DessertPriceSummary</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!dessertPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dessertPrice</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TotalPriceSummary</name>
                    <fieldText>&lt;p&gt;Total Price: &lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;{!totalPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>submitIfCorrect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If everything looks correct, please click next to submit your order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_the_Items_that_you_would_like_to_order</name>
        <label>Please select the Items that you would like to order</label>
        <locationX>767</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_items_Selected</targetReference>
        </connector>
        <fields>
            <name>AppetizerChoice</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>appChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appetizer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Soups_and_SaladsChoice</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>SoupSaladChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Soups and Salads</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Main_EntreeChoice</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>EntreeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main Entree</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dessert_Choice</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>DessertChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dessert</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_an_item</name>
        <label>Please select at least one Item</label>
        <locationX>729</locationX>
        <locationY>287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Please_select_the_Items_that_you_would_like_to_order</targetReference>
        </connector>
        <fields>
            <name>pleaseSelect</name>
            <fieldText>&lt;p&gt;You did not select any items, please select at least one menu item to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dessertPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntreePrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>orderSelections</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>SoupSaladPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
